page-inicio-ruta {
    .scroll-content {
        justify-content: flex-start;
    }
    img {
        margin-bottom: 7rem;
    }
    footer-genius {
        div {
            justify-content: flex-end!important;
        }
    }
}