page-inicio-ruta {
    .scroll-content {
        justify-content: flex-start;
    }
    .content-inicio-rutas {
        img {
            margin-bottom: 7rem;
        }
    }
    footer-genius {
        div {
            justify-content: flex-end!important;
        }
    }
}