// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$gPrimary: #f22046;
$gSecundary: #D3363b;
$gTercero: #1ab0bf;
$gLight: white;
@font-face {
    font-family: "normal";
    src: url("../assets/fonts/openSans.ttf") format('truetype');
}

@font-face {
    font-family: "bold";
    src: url("../assets/fonts/openSansBold.ttf") format('truetype');
}

@font-face {
    font-family: "monto";
    src: url("../assets/fonts/roboto.ttf") format('truetype');
}

body {
    background-image: linear-gradient(120deg, #f22046, #fe5944);
    color: $gLight;
    font-family: 'normal';
}

ion-modal {
    background-image: linear-gradient(120deg, #f22046, #fe5944);
}

ion-app.md {
    background-color: transparent;
    font-family: 'normal';
}

.content-md {
    background-color: transparent;
    color: inherit;
}

.flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-end {
    justify-content: flex-end;
}

.ai-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.f-dir-col {
    flex-direction: column;
}

.f-wrap-wrap {
    flex-wrap: wrap;
}

.w-50p {
    width: 50%;
}

.w-100p {
    width: 100%;
}

.pad-1r {
    padding: 1rem;
}

.pad-5r {
    padding: 5rem;
}

.order0 {
    order: 0;
}

.order1 {
    order: 1;
}

.al-self-start {
    align-self: flex-start;
}

.al-self-end {
    align-self: flex-end;
}

.text-center {
    text-align: center;
}

.inputGb {
    width: 100%;
    color: $gLight;
    background-color: transparent;
    border: 0;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
}

.alert-title {
    color: #000;
}

.logoWc {
    // margin-bottom: 3rem;
}

ion-list {
    background-color: transparent;
    .item {
        background-color: transparent;
        color: #fff;
        .label {
            color: #fff;
        }
        .select-icon {
            .select-icon-inner {
                color: #fff;
            }
        }
    }
}

.item-input-has-focus {
    .label-md[floating] {
        color: #fff;
    }
}

.item-md.item-input.item-input-has-focus {
    .item-inner {
        border-bottom-color: #fff;
        box-shadow: inset 0 -1px 0 0 #fff;
    }
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #fff;
    box-shadow: none;
}

#rightMenu {
    ion-content {
        color: #000;
        text-align: right;
        .scroll-content {
            align-items: flex-end;
            ion-list .item .label {
                color: #000;
            }
        }
    }
}

.textoDetalle {
    font-size: 1.7rem;
}

li {
    padding-bottom: 1rem;
}

.oculto2{
    display: none;
}